.vscode/
Slides/
Project/

*.sqlite
*.nsys-rep

*/.ipynb_checkpoints/

Notebook1/add-error-handling
Notebook1/double-elements
Notebook1/first-parallel
Notebook1/grid-stride-double
Notebook1/heat-conduction
Notebook1/hello-gpu
Notebook1/matrix-multiply-2d
Notebook1/mismatched-config-loop
Notebook1/multi-block-loop
Notebook1/single-block-loop
Notebook1/thread-and-block-idx
Notebook1/vector-add
Notebook2/iteratively-optimized-vector-add
Notebook2/multi-thread-vector-add
Notebook2/single-thread-vector-add
